<mat-card>

  <mat-card-content align="center">
    <h2>APLICAÇÃO WEB PARA VERIFICAR E CONTROLAR O CONSUMO DE ÁGUA DE UMA RESIDÊNCIA UTILIZANDO IOT</h2>
    <h3>Ana Paula Celis, 2002308</h3>
    <h3>Andre Luis Celis, 1813329</h3>
    <h3>Eduardo Soares Rosa, 2000575</h3>
    <h3>Everton Cabral da Silva, 2008230</h3>
    <h3>Giovanna Pereira Santos, 2002428</h3>
    <h3>Otavio Henrique Lopes da Silva, 2006233</h3>
    <h3>Samuel Luís dos Santos, 1807466</h3>
  </mat-card-content>
  <mat-card-content style="margin: 20px;padding:20px">


    <p>A população tem crescido e como consequência, o consumo de água têm se tornado
      um grande problema em todo o mundo. Além disso, as crescentes alterações nas condições
      climáticas têm agravado ainda mais este problema, pois é grande ausência de chuvas em
      alguns lugares. No ano de 2022, por exemplo, a quantidade de chuvas que caiu sobre o
      Sistema Cantareira ficou cerca de 84% abaixo do esperado para o período, conforme dados da
      Sabesp.
    </p>



    <p>
      Desta forma, o gerenciamento do uso da água tem se tornado um dos desafios para um
      planejamento hídrico eficaz diante das particularidades regionais do território brasileiro.
      Ainda, é necessária a conscientização da população para um consumo consciente, com a
      necessidade de iniciativas urgentes de órgãos públicos e privados, onde possa-se tentar
      modificar este contexto preocupante que tem colaborado para a intensa crise hídrica que vem
      ocorrendo nas últimas décadas no Brasil e no mundo (MARENGO; ALVES, 2016).
    </p>
    <p>
      Entre 1900 e 2013, mais de 11 milhões de pessoas morreram por causa da falta d’água
      e 2 bilhões tiveram suas vidas transtornadas pelo fenômeno. Acumulam-se evidências de que
      o clima está mudando em diversas partes do planeta.
    </p>
    <p>
      Um exemplo de conhecimento recente é o fato de que a última década concentrou os
      12 anos mais quentes desde que as medições começaram a ser realizadas, em 1850.
      Outro efeito da seca foi o aumento do número de focos de queimadas. A seca também
      teve impactos socioeconômicos, principalmente nas áreas que exploram o turismo às margens
      de rios e represas (MARENGO; ALVES, 2016, p. 485).
    </p>
    <p>
      Tendo em conta esse cenário de escassez de água, é grande o interesse em maximizar
      o uso e diminuir desperdícios. Todos os membros da sociedade são responsáveis nessa tarefa,
      como: residências, indústrias, empresas do setor público e privado. É animador a
      possibilidade de utilizar um microcontrolador ESP32 para ajudar nesse processo de
      mensuração do fluxo de água e envio dos dados coletados para um servidor remoto que pode
      ajudar a identificar possíveis focos de desperdício ou mal uso.
    </p>
    <p>
      Esse tipo de pesquisa pode-se tornar uma referência para outras pesquisas com o
      mesmo propósito de usar um microcontrolador para medir o fluxo de água e enviar alertas
      para o usuário através de uma aplicação web ou celular. O tema também pode atrair a atenção
      de alguma empresa que tenha o interesse em desenvolver algum produto que use água e que
      queira mostrar para o cliente o consumo.
    </p>

    <p>
      A água é um dos elementos mais abundantes que temos no planeta. Presente nos mares
      e oceanos, lagos, rios e nuvens, também faz parte da composição do corpo humano e está
      presente, até mesmo, dentro dos alimentos.
    </p>
    <p>
      Em geral, o governo investe em muita pesquisa para o desenvolvimento tecnológico em
      métodos de medição do ciclo de chuvas, do nível de poluição dos rios e até mesmo o
      desmatamento, que tem o impacto direto de acabar com as nascentes de rios.
    </p>
    <p>
      A motivação para fazer o projeto envolvendo esse recurso natural, acontece em paralelo
      em que as cidades da região metropolitana de São Paulo passam por uma crise hídrica e o
      governo tenta encontrar métodos para melhor aproveitar a vazão da água dos reservatórios e
      trabalhar com parceria com toda a população para economizar e, com algumas regiões, até
      mesmo com racionamento.
    </p>
    <p>
      O contexto do problema da crise hídrica é antigo, mas começou a ficar grave perto do
      ano de 2014, quando o reservatório do Sistema Cantareira chegou em 12,7% da capacidade e
      no ano de 2015 atingiu o menor nível do volume morto, com –9,6% da capacidade de
      armazenamento de água. Atualmente, os dados dizem que a capacidade está em 45%, abaixo
      da metade do reservatório. O Sistema Cantareira é composto por um conjunto de seis grandes
      represas trabalhando em sinergia para atender mais de oito milhões de pessoas, sendo um dos
      maiores e mais extensos do mundo.
    </p>
    <p>
      Sendo assim, estudar métodos de identificação de desperdícios usando tecnologia é um
      tema relevante, pois todos sabem que uma boa medição do fluxo de água e identificação do
      foco de maior consumo ajudam no controle sobre o uso consciente, gerando economias
      financeiras devido ao baixo desperdício da água e também menor taxa de tratamento de
      esgoto na conta.
    </p>

    <p>
      Outro fator importante dessa pesquisa é relacionar como o uso de tecnologia pode ajudar
      no balanceamento entre o ambientalmente sustentável com economia financeira, numa
      eventual redução do tempo de chuveiro ligado, economizando na tarifa de energia. A
      vantagem de estudar novas tecnologias que podem ser aplicadas para essa finalidade é
      identificar uma mudança do padrão de comportamento do consumidor, onde se torna mais
      responsável pelo seu consumo e se torna criativo em achar formas de reduzir o desperdício.
    </p>

  </mat-card-content>

</mat-card>
