<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="assets/economize-agua.png" width="50"></mat-toolbar>
    <mat-nav-list>
      <a id="inicial" #inicial mat-list-item [routerLink]="['graficos']" [routerLinkActive]="'is-active'">
        Graficos
      </a>
      <a mat-list-item [routerLink]="['relatorios']" [routerLinkActive]="'is-active'">
        Relatórios
      </a>
      <a mat-list-item [routerLink]="['sobre']" [routerLinkActive]="'is-active'">
        Sobre
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="user-logged">
        <button mat-button [matMenuTriggerFor]="menu">
          <i class="fa-regular fa-circle-user"></i>{{userName}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click) = "sair()">Sair</button>
        </mat-menu>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
