.relatorios {
  display: flex;
  flex-wrap: wrap;
  mat-card {
    margin: 10px;
    max-width: 350px;
    min-width: 300px;
    p {
      font-weight: 500;
      color: #3a3a3a;
      font-size: 1rem;
      span {
        font-weight: 100;
        font-size: .9rem;
        color: #555;
      }
    }
    mat-card-actions {
      text-align: right;
    }

  }
}
